<footer>
    <div class="footer-content">
        <img src="{{ '/imagens/logo.png' | relative_url }}" alt="Logo IRIMEP" class="footer-logo">

        <div class="footer-grid">
            <div class="footer-secao">
                <h5>Casa Mãe</h5>
                <div class="info-block">
                    <i class="fas fa-map-marker-alt"></i>
                    <span>Rua Padre José, Nº 100<br>Bairro Centro - Araripina / PE<br>CEP: 56280-000</span>
                </div>
                <div class="info-block">
                    <i class="fas fa-phone-alt"></i>
                    <span>(87) 3873-1234</span>
                </div>
                <div class="info-block">
                    <i class="fas fa-envelope"></i>
                    <span>contato@irimep.org.br</span>
                </div>
            </div>

            <div class="footer-secao">
                <h5>Institucional</h5>
                <div class="info-block">
                    <i class="fas fa-info-circle"></i>
                    <span>Instituto Religioso das Irmãs Medianeiras da Paz - Amparando frentes de caridade e evangelização.</span>
                </div>
            </div>
        </div>
        <div class="copyright">
            &copy; 2026 IRIMEP - Instituto Religioso das Irmãs Medianeiras da Paz. Todos os direitos reservados.
        </div>
    </div>
</footer>
