<footer>
    <div class="footer-content">
        <img src="{{ '/imagens/logo.png' | relative_url }}" alt="Logo IRIMEP" class="footer-logo">

        <div class="footer-grid">
            <div class="footer-secao">
                <h5>Sede Geral das Irmãs Medianeiras</h5>
                <div class="info-block">
                    <i class="fas fa-map-marker-alt"></i>
                    <span>Rua Edgar Chastinet, Nº 01, <br>Bairro Santa Monica - Salvador / BA<br>CEP: 40.342-100</span>
                </div>
                <div class="info-block">
                    <i class="fas fa-phone-alt"></i>
                    <span>(71) 99901-2784</span>
                </div>
                <div class="info-block">
                    <i class="fas fa-envelope"></i>
                    <span>impaz.sedegeral@gmail.com</span>
                </div>
            </div>

            <div class="footer-secao">
                <h5>Institucional</h5>
                <div class="info-block">
                    <i class="fas fa-info-circle"></i>
                    <span>Instituto Religioso das Irmãs Medianeiras da Paz - “Tudo farei pelos eleitos”.</span>
                </div>
            </div>
        </div>
        <div class="copyright">
            &copy; 2026 IRIMEP - Instituto Religioso das Irmãs Medianeiras da Paz. Todos os direitos reservados.
        </div>
    </div>
</footer>
