<header>
    <div class="logo-container">
        <img src="{{ '/imagens/logo.png' | relative_url }}" alt="Logo IRIMEP" class="logo-img">
    </div>
    <nav>
        <a href="{{ '/' | relative_url }}">Início</a>
        <a href="{{ '/institucional' | relative_url }}">Institucional</a>
        <a href="{{ '/areas-atuacao.html' | relative_url }}">Áreas de Atuação</a>
        <a href="{{ '/noticias' | relative_url }}">Notícias</a>
        <a href="{{ '/contato' | relative_url }}">Contato</a>
    </nav>
</header>
